.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

img{
  width: 100%;
}
label{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
}
label img{
  width: 30px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.logo img{
width: 120px;
}
input,button{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #eee;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
input:focus{
  box-shadow: none;
  border: 1px solid var(--mainColor);
}
form>div{
  margin: 15px;
}
button{
  background-color: var(--mainColor);
  border: none;
}
button:hover{
  background-color: #774ff2;
  border: none;
}
button:disabled{
  background-color: #454545;
  border: none;
}

@media (max-width: 768px) {
  .image{
    display: none;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
