 .landing{
    
    padding: 5px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.right h1,.afterLanding h1,.title h1{
    font-size: 20vw;
    position: relative;
}  
.right h1::after{
    content: "";
    position: absolute;
    left: -4%;
    top: 22%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #9f83f6;
    z-index: -1;
}  
.left img{
    width: 100%;
}
.right .btn-primary{
    background-color: #9f83f6;
    border:none;
    border-radius: 0%;
}
.more{
   
    border: none;
    border-radius: 0%;
    transition: 0.5s;

}
.more:hover{
    background-color: #9f83f6;
    color: white;
    transition: 0.5s;
    
    

}



 /* After Landing */
 .afterLanding{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .afterLanding h1{
    position: relative;
    
 }
 .afterLanding h1 span{
    position: absolute;
    left: 0;
    top: 70%;
    padding: 20px;
    display: block;
    font-size: 22px;

 }
 .afterLanding div{
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .afterLanding img{
    width: 65%; 
    height: 330px;
   
 }
 .afterLanding .btn{
    text-wrap: nowrap;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bgColor);
    color: black;
    border: none;
    box-shadow: 1px 1px 6px black;
 }
 .btn span{
    display: block;
    
 }
.discover{
    position: relative;
    font-size: 15px;
}
 .discover span{
    font-size: 30px;
    position: absolute;
    left: -20px;
    top: 0;
    font-weight: bold;
    color: var(--mainColor);
 }
 .whoAre{
    flex-direction: row !important;
 }
 .whoAre span{
    color: var(--mainColor);
    
 }
  .afterLanding::after{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--mainColor);
    z-index: -1;
  }

  /* discover */
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
 
  }
  .title h1 span{
    position: absolute;
    left: 25px;
    top: 70%;
    padding: 20px;
    display: block;
    font-size: 30px;
  }
  .card{
    height: 400px;
    padding: 0;
  }
.card .btn-primary{
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.catsInHome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
}
.card img{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-body{
    z-index: 11111;
    background: #9f83f68f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






 @media (min-width: 400px) {
    .right h1::after{
        left: -4%;
        top: 25%;
        width: 70px;
        height: 70px;
    } 
    .afterLanding img{
        width: 50%; 
     }
    
  }

@media (min-width: 576px) {
    .right h1,.afterLanding h1,.title h1{
        font-size: 17vw;
       
    }  
    .right h1::after{
        left: -4%;
        top: 25%;
        width: 70px;
        height: 70px;
    }
  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .right h1,.afterLanding h1,.title h1{
        font-size: 12vw;
    } 
 }
 @media (max-width:769px) {
    
 .afterLanding div{
    margin-top: 50px;
    position: relative;
   display: block;
 }

 .afterLanding .btn{
    width: 75px;
    height: 75px;
 }

.discover{
    position: absolute;
    font-size: 15px;
    top: 15%;
    right: 40%;
}
.whoAre{
    flex-direction: row !important;
    position: absolute;
    bottom: 65px;
    left: 5%;
 }
 .discover span{
   font-size: 20px;
 }
 .whoAre span{
    color: var(--mainColor);
    
 }


  .afterLanding::after{
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--mainColor);
    z-index: -1;
  }
    
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .right h1,.afterLanding h1,.title h1{
        font-size: 11vw; 
    } 
    .right h1::after{
        left: -4%;
        top: 25%;
        width: 80px;
        height: 80px;
    }
    .afterLanding img{
        width: 40%; 
        height: 400px;
     }
 }

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .right h1,.afterLanding h1,.title h1{
        font-size: 10vw;
    } 
    .right h1::after{
            left: -4%;
            top: 25%;
            width: 80px;
            height: 80px;
    }
    .afterLanding img{
        
        height: 450px;
     }
 }
 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .right h1,.afterLanding h1,.title h1{
        font-size: 9vw;
    } 
    .right h1::after{
        left: -4%;
            top: 25%;
            width: 80px;
            height: 80px;
    }
 }
 @media (max-width:400px) {
    .discover{
        position: absolute;
        font-size: 15px;
        top: -30px;
        right: 52%;
    }
    
  }
  h1 {
    font: normal  0 !important;
    letter-spacing: normal;
    margin: 0 0 16px;

}